


<div class="container" id ="mainsection">

<div class="row">


  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
    <div class="panel-body row" >
	  <div class="form-group">
	  		<label for="clientId" class="col-sm-2 control-label">Client Id</label>
	  		<div class="col-sm-6">
	  		  <input type="text" [(ngModel)]="clientId" name ="clientId" class="form-control" id="clientId" placeholder="client_id">
	  		</div>
	  		<label for="maxMessages" class="col-sm-1 control-label">Max</label>
	  		<div class="col-sm-2">
	  		  <input type="text" [(ngModel)]="maxMessages" name ="maxMessages" class="form-control" id="maxMessages" placeholder="5">
	  		</div>
	  </div>
	  </div>
      <div class="panel-body row" >

         <div class="col-sm-3">
    <button type="submit" class="btn btn-success" (click)="runSimulation()" > &nbsp;&nbsp;&nbsp;&nbsp;Start &nbsp;&nbsp; <span class="glyphicon glyphicon-play" aria-hidden="true"></span> &nbsp;&nbsp; &nbsp;&nbsp;</button>

        </div>
        <div class="col-sm-3">
     <button type="submit" class="btn btn-danger" (click)="stopSummary()" > &nbsp;&nbsp;&nbsp;&nbsp; Stop &nbsp;&nbsp;<span class="glyphicon glyphicon-stop" aria-hidden="true"></span> &nbsp;&nbsp; &nbsp;&nbsp;</button>

        </div>

        <div class="col-sm-3"><h4>Success:<strong> {{countSuccess}}</strong></h4></div>
        <div class="col-sm-3"><h4>Failures:<strong> {{countFailures}}</strong></h4></div>

      </div>



    </div>


<div class="panel panel-default">
<div class="panel-body row" >
			<div class="col-sm-10">
	  		<p><strong>Recent Response Message</strong></p>
	  		</div>
	  		<div class="col-sm-10">
	  		<p>{{responseMessage}}</p>
	  		</div>
	  </div>
</div>

</div>
</div>


</div>

